<div class="row">
    
    <div class="col">
        <h1>*ngIf</h1>
        <hr>
    <div *ngIf="mostrar" class="card w-75 mb-3">
            <div class="card-body">
                <h5 class="card-title">Cita</h5>
                <p class="card-text">{{frase.mensaje}}</p>
                <p class="card-text">{{frase.autor}}</p>
            </div>
        </div>
        <button (click)=" mostrar = !mostrar " class="btn btn-outline-primary">Mostrar / Ocultar</button>
    </div>
    <div class="col">
        <h1>*ngIf</h1>
        <hr>
        <ul class="list-group">
            <li *ngFor="let foo of personajes; let i = index" class="list-group-item">{{i+1}} .- {{foo}}</li>
           
          </ul>

    </div>
</div>
